<%@page import="Reservation.hotelroom"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="java.text.DateFormat"%>
<%@page import="java.util.Date"%> 

<%      String usernamee = (String)session.getAttribute("username");
        user u=new user(usernamee);
        String type = u.checkTypePages(usernamee);
        int checkk = Integer.parseInt(type); %>
       <% if(checkk != 3 || checkk ==-1){ %>
        <jsp:forward page="login.html"/>
        <% } 
        if(session.getAttribute("username") == null){
            response.sendRedirect("index.jsp");
        }

        String firstname = u.takeFirstname(usernamee); %>


<html>
    <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

    </head>
    <h1><i>Enter Your Reservation Entries</i></h1>

    <style>
        table {
            width:35%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color:#fff;
        }
        table#t01 th {
            background-color: black;
            color: white;
        }
        div.ex1 {
            direction: rtl;


        </style>
    </head>
    <body>
      
        <form action="rezervasyonyapildi.jsp" action="GET"> 
            <font color="black"><strong>First name: </strong> <input type="text" name="firstName" required />
            <br/><br/>
 <br/><br/>
                                                   
            <strong>Last name:  </strong><input type="text" name="lastName" required/>
            <br/><br/>
<br/><br/>
            <strong>User name:  </strong><input type="text" name="userName" required />
            <br/><br/>  
<br/><br/>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                <link rel="stylesheet" href="/resources/demos/style.css">
                    <script>
                        $(function() {
                            $("#datepicker").datepicker({minDate:0});
                        });
                    </script>
                    <p> <strong>Check-in Date:  </strong><input type="text" id="datepicker" name="datepicker" required></p>

                        <br/><br/> 
<br/><br/>
                        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
                            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                            <link rel="stylesheet" href="/resources/demos/style.css">
                                <script>
                                    $(function() {
                                        $("#datepicker1").datepicker({minDate:0});
                                    });
                                </script>
                                <p> <strong>Check-out Date: </strong> <input type="text" id="datepicker1" name="datepicker1" required></p>
                                    <br/><br/>
<br/><br/>
                                    <strong>Reservation Date:</strong>
                                    <%

                                        Date date = new Date();
                                        out.print("" + date.toString() + "");
                                    %>
                                    <br/><br/>
                                    <br/><br/> 

                                    Choose Your Room Type
                                     <br/><br/>
<select name="ddlViewBy">
    <option value=""> </option>
  <option value="Standard Room ">Standard Room </option>
  <option value="Luxury Room" selected="selected">Luxury Room </option>
  <option value="Premium Room">Premium Room</option>
</select>
                                    
                                    
                                     <br/><br/>
                                                    <br/><br/> 
                                                    <strong> User Message: </strong> <textarea name="userMessage" placeholder="" /></textarea>
                                                    <br/><br/>
                                                    <br/><br/> 


                                                    <strong>Payment </strong> <br/>
                                                    <input type="radio" name="purpose" value="Online" >Online
                                                        <br></br>
                                                        <p></p>
<div class="container">
  <h2>Collapsible Methods</h2>
  <p>The toggle method toggles the collapsible content.</p>
  <p>The show method shows the collapsible content.</p>
  <p>The hide method hides the collapsible content.</p>
  <button type="button" class="btn btn-primary">Toggle</button>
  <button type="button" class="btn btn-success">Show</button>
  <button type="button" class="btn btn-warning">Hide</button>
    
  <div class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<script>
$(document).ready(function(){
    $(".btn-primary").click(function(){
        $(".collapse").collapse('toggle');
    });
    $(".btn-success").click(function(){
        $(".collapse").collapse('show');
    });
    $(".btn-warning").click(function(){
        $(".collapse").collapse('hide');
    });
});
</script>




    
                                                            <br/><br/>  

                                                            <input type="submit" name="submit" value="MakeReservation" />
                                                            <div class="ex1"><strong><i>Have A Nice Vacation</i></strong></div><font color="black"></font>
                                                            <br></br>
                                                            <div class="ex1"><strong><i>HOTEL RESERVATION SYSTEM</i></strong></div><font color="black"></font>
                                                            </div>


                                                            </form>


                                                            </body>
                                                            </html>
